@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
  color: black;

  .main-title {
    text-align: center;
    margin: 20px 0;
  }
}

.user-list-img {
  border-radius: 50%;
  margin-right: 20px;
  width: 60px;
}

.table {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  
  th, td {
    vertical-align: middle;
    cursor: pointer;
  }

  .group-description {
    width: 350px;
    padding-right: 60px;
  }
}

#group-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  margin: 20px;
}
